@model ErpAccountModel

<div class="card-body">
    
    <!--Billing Address start-->
    <nop-editor asp-for="BillingAddress" asp-template="Address" />
    <!--Billing Address end-->

</div>

<nop-alert asp-alert-id="statesAlert" asp-alert-message="@T("Admin.Common.Alert.States.Failed")" />