
@media all and (min-width: 480px) {

.master-column-wrapper {
    width: 97%;
}

/* HEADER */

.search-box input.search-box-text {
	width: 300px !important;
	max-width: none !important;
}
.ui-autocomplete {
	width: 340px !important; /*txtfield + button*/
}

/* FOOTER */

.footbox .title {
	border-bottom-style: dotted;
}
.contacts {
	display: block;
	text-align: center;
}
.contacts li {
	display: inline-block;
	width: 45%;
    margin: 0 5px 10px;
}
.contacts li span:before {
	display: block;
	margin: 0 auto 5px;
}
.newsletter-email input[type="email"] {
	width: 300px;
}
.footlist {
	max-width: 280px;
	margin: 20px 10px;
}

/* LEFT/RIGHT COLUMN */

.side-2 {
	font-size: 0;
	text-align: left;
}
.block {
	display: inline-block;
	width: 48%; /*two per row*/
	max-width: none;
	margin: 0 1%;
	text-align: left;
}
.block .listbox {
	padding: 0 5px 40px 10px;
	text-align: left;
}
.block .list a,
.block .year strong  {
	display: block;
}
.block .sublist {
	margin: -5px 0 20px 20px;
}
.block .view-all {
	text-align: right;
}
.block-popular-tags .listbox,
.block-poll .listbox {
	padding-left: 5px !important;
}
.block .tags li,
.product-tags-all-page li {
	margin: 0 5px;
}
.poll-options li,
.poll-results li {
	display: block;
}
.poll .buttons,
.poll-total-votes {
	text-align: right;
}

/* CATEGORY PAGE & GRIDS */

.product-selectors > div {
	width: 48%;
	margin: 0 1%;
}
.product-selectors span {
	display: inline;
}
.product-selectors select {
	max-width: 130px;
}
.item-box {
    float: left;
	width: 48%; /*two per row*/
    max-width: none;
	margin: 0 1% 45px;
}
.item-box:nth-child(2n+1) {
	clear: both;
}

/* PASSWORD PROTECTION */

.enter-password-form input {
	width: 300px !important;
}

/* REGISTRATION, LOGIN, MY ACCOUNT */

.registration-page .date-of-birth select,
.account-page .date-of-birth select {
	width: 110px;
}
.block-account-navigation {
	display: block;
	margin: 0 auto !important;
	text-align: center !important;
}

/* SHOPPING CART & CHECKOUT */

.order-progress li {
	width: 90px;
}
.cart-footer .totals {
	max-width: 75%;
}
.shopping-cart-page .common-buttons button,
.shopping-cart-page .common-buttons a {
    min-width: 190px;
    margin: 5px;
}

}