
@media all and (max-width: 1024px) {

/* RESPONSIVE NAV WRAPPER */

.responsive-nav-wrapper-parent {
	height: 50px;
	margin: 0 0 25px; /*default menu parent margin*/
}
.fullscreen .responsive-nav-wrapper-parent {
	margin-bottom: 0; /*menu parent margin above slider*/
}
.no-slider .responsive-nav-wrapper-parent {
	margin-bottom: 30px; /*menu parent margin above category grid*/
}
.responsive-nav-wrapper {
	position: relative;
	width: 100%;
	background: #5be url('../img/pattern1.png') repeat;
	text-align: center;
	font-size: 0;
	color: #fff;
	text-transform: uppercase;
}
.responsive-nav-wrapper.nav-down {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.responsive-nav-wrapper.nav-up {
    -webkit-transform: translateY(-52px);
    -ms-transform: translateY(-52px);
    transform: translateY(-52px);
}
.responsive-nav-wrapper.stick {
	position: fixed;
	top: 0;
	z-index: 10000;
}
.responsive-nav-wrapper:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;            
}
.responsive-nav-wrapper > div > span {
	display: block;
	color: #fff;
	font-size: 20px;
	line-height: 21px;
	text-transform: uppercase;
	height: 51px;
	overflow: hidden;
	cursor: pointer;
	padding: 15px 15px 15px 35px;
}
.responsive-nav-wrapper .menu-title {
	display: inline-block;
	background: url('../img/mobile-icon-menu.png') no-repeat left center;
}
.responsive-nav-wrapper .filters-button {
	display: none;
	background: url('../img/mobile-icon-filters.png') no-repeat left center;
}

/* RESPONSIVE MENU */

.ps-container > .ps-scrollbar-y-rail {
    visibility: hidden !important;
}
.scrollYRemove {
    overflow: hidden !important;
    -ms-touch-action: none !important;
    -webkit-overflow-scrolling: touch !important;
}
.overlayOffCanvas {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 1000000;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.overlayOffCanvas.show {
    background: rgba(0,0,0,0.4);
}

#headerMenuParent {
	height: 0;
}
.justAFixingDivBefore,
.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    text-align: left;
    background: #333 !important;
    overflow: hidden;
    z-index: 2147483647;
    transition: all 0.3s ease;
    -webkit-transform: translate(-320px);
    -ms-transform: translate(-320px);
    transform: translate(-320px);
}       
.header-menu.open {
    box-shadow: 1px 0 5px rgba(0,0,0,0.5);
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.header-menu .close-menu,
.header-menu .back-button {
    position: relative;
    border-bottom: 1px solid #999;
    background: #5be;
    padding: 12px;
    text-align: right;
    cursor: pointer;
}
.header-menu .close-menu span,
.header-menu .back-button span {
	padding: 0;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	line-height: normal;
}
.header-menu .close-menu:before,
.header-menu .back-button:before {
	content: " ";
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -16px;
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 20px;
	overflow: hidden;
	background: #fff url('../img/clear_button.png') center no-repeat;
	padding: 0;
}
.header-menu > ul {
	background: #fff;
}
.header-menu > ul li {
    border-bottom: 1px dotted #5be;
    background: #fff;
}
.header-menu > ul li:first-child {
	border-top: none;
}
.header-menu > ul li:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.header-menu > ul li > a, 
.header-menu > ul li > span {
    display: block;
    position: relative;
    z-index: 1;
    padding: 17px 18px;
    line-height: 16px;
    font-size: 16px;
    color: #555;
    text-transform: uppercase;
}
.header-menu > ul li > .with-subcategories {
	width: 270px;
	float: left;   
}
.header-menu .plus-button {
    position: relative;
    z-index: 2;
    float: right;
    width: 50px;
    height: 50px;
    background: url('../img/next.png') center no-repeat;
    cursor: pointer;
    border-left: 1px dotted #5be;
}
.header-menu .sublist-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 320px;
    height: 100%;
    background: #333 !important;
    box-shadow: 1px 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
    overflow: hidden;
    -webkit-transform: translate(-320px);
    -ms-transform: translate(-320px);
    transform: translate(-320px);
}
.header-menu .sublist-wrap.active {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

/* header menu functionality classes */

.admin-header-links,.header,
.responsive-nav-wrapper,
.slider-wrapper,
.master-column-wrapper,
.footer {
	transition: transform 0.3s ease;        
}
.move-right {
	-webkit-transform: translate(320px);
	-ms-transform: translate(320px);
	transform: translate(320px);        
}

}