@model ConfigurationModel

<div class="card-body">
    <div class="card card-default">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="OrderType" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="OrderType" />
                    <span asp-validation-for="OrderType"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="NsProductClass_ShippingLine" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="NsProductClass_ShippingLine" />
                    <span asp-validation-for="NsProductClass_ShippingLine"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <nop-label asp-for="NsProductClass_Promotion" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="NsProductClass_Promotion" />
                    <span asp-validation-for="NsProductClass_Promotion"></span>
                </div>
            </div>
        </div>
    </div>
</div>