@model ConfigurationModel

<div class="card-body">
    <div class="card card-default">
        <div class="card-body">
			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="SAPCompanyCode" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="SAPCompanyCode" />
					<span asp-validation-for="SAPCompanyCode"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="VendorName" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="VendorName" />
					<span asp-validation-for="VendorName"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="ShippingCostSKU" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="ShippingCostSKU" />
					<span asp-validation-for="ShippingCostSKU"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="B2BOrderTypeMappings" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="B2BOrderTypeMappings" />
					<span asp-validation-for="B2BOrderTypeMappings"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="B2COrderTypeMappings" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="B2COrderTypeMappings" />
					<span asp-validation-for="B2COrderTypeMappings"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="AppServerHost" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="AppServerHost" />
					<span asp-validation-for="AppServerHost"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="SystemNumber" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="SystemNumber" />
					<span asp-validation-for="SystemNumber"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="SystemID" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="SystemID" />
					<span asp-validation-for="SystemID"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="User" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="User" />
					<span asp-validation-for="User"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="Password" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="Password" />
					<span asp-validation-for="Password"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="RepositoryPassword" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="RepositoryPassword" />
					<span asp-validation-for="RepositoryPassword"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="Client" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="Client" />
					<span asp-validation-for="Client"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="Language" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="Language" />
					<span asp-validation-for="Language"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="PoolSize" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="PoolSize" />
					<span asp-validation-for="PoolSize"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-3">
					<nop-label asp-for="AliasUser" />
				</div>
				<div class="col-md-9">
					<nop-editor asp-for="AliasUser" />
					<span asp-validation-for="AliasUser"></span>
				</div>
			</div>

        </div>
    </div>
</div>