USE [Nop_Macsteel_Test_Comalytics_470]
GO
/****** Object:  StoredProcedure [dbo].[UpdateB2BShipToAddressFromParallelTableErpB2BShipToAddress]    Script Date: 7/4/2025 1:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[UpdateB2BShipToAddressFromParallelTableErpB2BShipToAddress]
AS
BEGIN
    DECLARE @Id int,
			@IsActive bit,
            @CreatedOnUtc datetime,
            @CreatedById int,
            @UpdatedOnUtc datetime,
            @UpdatedById int,
            @IsDeleted bit,
            @ShipToCode varchar(50),
            @ShipToName varchar(255),
            @AddressId int,
            @Suburb varchar(100),
            @DeliveryNotes varchar(max),
            @EmailAddresses varchar(max),
            @B2BAccountId int,
            @B2BSalesOrganisationId int,
            @ShipToAddressCreatedByTypeId int,
            @OrderId int,
            @ProvinceCode varchar(50),
            @RepNumber varchar(50),
            @RepFullName varchar(255),
            @RepPhoneNumber varchar(50),
            @RepEmail varchar(255),
            @Comment varchar(255);
    DECLARE cursor_UpdateB2BShipToAddress CURSOR FOR
    SELECT
		e.[Id],
        e.[IsActive],
        e.[CreatedOnUtc],
        e.[CreatedById],
        e.[UpdatedOnUtc],
        e.[UpdatedById],
        e.[IsDeleted],
        e.[ShipToCode],
        e.[ShipToName],
        e.[AddressId],
        e.[Suburb],
        e.[DeliveryNotes],
        e.[EmailAddresses],
        e.[B2BAccountId],
        e.[B2BSalesOrganisationId],
        e.[ShipToAddressCreatedByTypeId],
        e.[OrderId],
        e.[ProvinceCode],
        e.[RepNumber],
        e.[RepFullName],
        e.[RepPhoneNumber],
        e.[RepEmail]
    FROM [dbo].[Parallel_ErpShipToAddress] e WITH (NOLOCK)
    WHERE e.[IsUpdated] = 0;
    OPEN cursor_UpdateB2BShipToAddress;
    FETCH NEXT FROM cursor_UpdateB2BShipToAddress INTO 
        @Id, @IsActive, @CreatedOnUtc, @CreatedById, @UpdatedOnUtc, @UpdatedById, @IsDeleted,
        @ShipToCode, @ShipToName, @AddressId, @Suburb, @DeliveryNotes, @EmailAddresses,
        @B2BAccountId, @B2BSalesOrganisationId, @ShipToAddressCreatedByTypeId, @OrderId,
        @ProvinceCode, @RepNumber, @RepFullName, @RepPhoneNumber, @RepEmail;
    WHILE @@FETCH_STATUS = 0
    BEGIN
 
	    DECLARE @ShipToAddressId int = NULL
	    -- Check if the ShipToAddress is exists and take the id
		SELECT @ShipToAddressId = s.Id
		FROM   [Erp_ShipToAddress] AS s
		JOIN   [Erp_ShiptoAddress_Erp_Account_Map] AS m
		       ON s.Id = m.ErpShiptoAddressId
		WHERE  s.ShipToCode   = @ShipToCode
		  AND  m.ErpAccountId = @B2BAccountId
		  AND m.ErpShipToAddressCreatedByTypeId = @ShipToAddressCreatedByTypeId;
		IF @ShipToAddressId IS NOT NULL
        BEGIN
            -- Update existing record
            UPDATE [Erp_ShipToAddress]
            SET [IsActive] = @IsActive,
                [CreatedOnUtc] = @CreatedOnUtc,
                [CreatedById] = @CreatedById,
                [UpdatedOnUtc] = @UpdatedOnUtc,
                [UpdatedById] = @UpdatedById,
                [IsDeleted] = @IsDeleted,
                [ShipToName] = @ShipToName,
                [AddressId] = @AddressId,
                [Suburb] = @Suburb,
                [DeliveryNotes] = @DeliveryNotes,
                [EmailAddresses] = @EmailAddresses,
                [OrderId] = @OrderId,
                [ProvinceCode] = @ProvinceCode,
                [RepNumber] = @RepNumber,
                [RepFullName] = @RepFullName,
                [RepPhoneNumber] = @RepPhoneNumber,
                [RepEmail] = @RepEmail,
                [Comment] = CONCAT('Updated from Webhook - ', GETDATE())
            WHERE [Id] = @ShipToAddressId;
			Update [dbo].[Parallel_ErpShipToAddress] SET IsUpdated = 1 Where Id = @Id
        END
        ELSE
        BEGIN
            -- Insert new record
            INSERT INTO [Erp_ShipToAddress] (
                [IsActive],
                [CreatedOnUtc],
                [CreatedById],
                [UpdatedOnUtc],
                [UpdatedById],
                [IsDeleted],
                [ShipToCode],
                [ShipToName],
                [AddressId],
                [Suburb],
                [DeliveryNotes],
                [EmailAddresses],
                [ShipToAddressCreatedByTypeId],
                [OrderId],
                [ProvinceCode],
                [RepNumber],
                [RepFullName],
                [RepPhoneNumber],
                [RepEmail],
                [Comment]
            ) 
            VALUES (
                @IsActive,
                @CreatedOnUtc,
                @CreatedById,
                @UpdatedOnUtc,
                @UpdatedById,
                @IsDeleted,
                @ShipToCode,
                @ShipToName,
                @AddressId,
                @Suburb,
                @DeliveryNotes,
                @EmailAddresses,
                @ShipToAddressCreatedByTypeId,
                @OrderId,
                @ProvinceCode,
                @RepNumber,
                @RepFullName,
                @RepPhoneNumber,
                @RepEmail,
                CONCAT('Inserted from Webhook - ', GETDATE())
            );
			-- Pick the InsertedShipToAddress Id 
			SET @ShipToAddressId = SCOPE_IDENTITY();
 
			IF @ShipToAddressId IS NOT NULL
			BEGIN
			    INSERT INTO [Erp_ShiptoAddress_Erp_Account_Map] (
					[ErpAccountId],
					[ErpShiptoAddressId],
					[ErpShipToAddressCreatedByTypeId]
				)
				 VALUES (
				    @B2BAccountId,
					@ShipToAddressId,
				    @ShipToAddressCreatedByTypeId
				);
			END
			Update [dbo].[Parallel_ErpShipToAddress] SET IsUpdated = 1 Where Id = @Id
        END
        FETCH NEXT FROM cursor_UpdateB2BShipToAddress INTO 
            @Id, @IsActive, @CreatedOnUtc, @CreatedById, @UpdatedOnUtc, @UpdatedById, @IsDeleted,
            @ShipToCode, @ShipToName, @AddressId, @Suburb, @DeliveryNotes, @EmailAddresses,
            @B2BAccountId, @B2BSalesOrganisationId, @ShipToAddressCreatedByTypeId, @OrderId,
            @ProvinceCode, @RepNumber, @RepFullName, @RepPhoneNumber, @RepEmail;
    END;
    CLOSE cursor_UpdateB2BShipToAddress;
    DEALLOCATE cursor_UpdateB2BShipToAddress;
END;