USE [Nop_Macsteel_Test_Comalytics_470]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[ERPAdd0PriceForPerAccountProductPrice]
AS
BEGIN
    SET NOCOUNT ON;

    -- Finds all active ERP accounts that have prefilter settings
	-- Only includes accounts that have at least one active NOP user associated
	-- Filters out accounts with empty or null PreFilterFacets

    WITH EligibleAccounts AS (
        SELECT DISTINCT 
            ea.Id AS ErpAccountId, 
            ea.PreFilterFacets
        FROM dbo.Erp_Account ea WITH (NOLOCK)
        WHERE ea.IsActive = 1
          AND ea.PreFilterFacets IS NOT NULL 
          AND LTRIM(RTRIM(ea.PreFilterFacets)) != ''
          AND EXISTS (
              SELECT 1 
              FROM dbo.Erp_Nop_User_Account_Map enum WITH (NOLOCK)
              INNER JOIN dbo.Erp_Nop_User enu WITH (NOLOCK) ON enum.ErpUserId = enu.Id
              WHERE enum.ErpAccountId = ea.Id AND enu.IsActive = 1
          )
    ),
    -- Converts comma-separated PreFilterFacets into individual rows

    AccountPrefilters AS (
        SELECT 
            ea.ErpAccountId,
            LTRIM(RTRIM(Split.value('.', 'nvarchar(50)'))) AS Prefilter
        FROM EligibleAccounts ea
        CROSS APPLY (
            SELECT CAST('<i>' + REPLACE(ea.PreFilterFacets, ',', '</i><i>') + '</i>' AS XML) AS xmlval
        ) AS x
        CROSS APPLY x.xmlval.nodes('//i') AS pref(Split)
        WHERE LTRIM(RTRIM(Split.value('.', 'nvarchar(50)'))) != ''
    ),

	-- Finds all products that match the prefilter criteria for each account
	-- Excludes products that already have pricing records for that account

	ProductMatches AS (
        SELECT DISTINCT
            ap.ErpAccountId,
            p.Id AS ProductId
        FROM AccountPrefilters ap
        INNER JOIN dbo.SpecificationAttribute sa WITH (NOLOCK) ON sa.Name = 'Prefilter'
        INNER JOIN dbo.SpecificationAttributeOption sao WITH (NOLOCK) 
            ON sao.SpecificationAttributeId = sa.Id 
            AND sao.Name = ap.Prefilter
        INNER JOIN dbo.Product_SpecificationAttribute_Mapping psm WITH (NOLOCK)
            ON psm.SpecificationAttributeOptionId = sao.Id
        INNER JOIN dbo.Product p WITH (NOLOCK) ON p.Id = psm.ProductId
        WHERE p.Deleted = 0
			AND p.Published = 1
			AND NOT EXISTS (
			    SELECT 1 
			    FROM dbo.Erp_Special_Price esp WITH (NOLOCK)
			    WHERE esp.ErpAccountId = ap.ErpAccountId
			      AND esp.NopProductId = p.Id
			)
    )

    -- Inserts zero-price records for all matched products

    INSERT INTO dbo.Erp_Special_Price (
        ErpAccountId,
        NopProductId,
        Price,
        ListPrice,
        VolumeDiscount,
        PricingNote,
        CustomerUoM,
        PercentageOfAllocatedStock,
        PercentageOfAllocatedStockResetTimeUtc,
        DiscountPerc
    )
    SELECT
        pm.ErpAccountId,
        pm.ProductId,
        0,    -- Price
        0,    -- ListPrice
        0,    -- VolumeDiscount
        '',   -- PricingNote
        '',   -- CustomerUoM
        0,    -- PercentageOfAllocatedStock
        NULL, -- PercentageOfAllocatedStockResetTimeUtc
        0     -- DiscountPerc
    FROM ProductMatches pm;
END
