CREATE PROCEDURE [dbo].[B2BAccountNameToCustomerCompanySync] 
(
	@OnlyActive bit = 0
)
AS
BEGIN 
	DECLARE @AccountName nvarchar(max)
	DECLARE @AccountId int = 0
	DECLARE @NopCustomer int = 0 

	CREATE TABLE #ActiveB2BAccount
	(
		[Index] int identity(1,1),
		[AccountId] int NOT NULL,
		[AccountName] nvarchar(max)
	)

	CREATE TABLE #B2BUserByAccount
	(
		[Index] int identity(1,1), 
		[NopCustomer] int NOT NULL,
		[AccountId] int NOT NULL
	)

	DECLARE @sql nvarchar(max)
	SET @sql = '
		INSERT INTO #ActiveB2BAccount ([AccountId], [AccountName])
		SELECT ba.[Id], ba.[AccountName]
		FROM [dbo].[Erp_Account] ba';
	
	IF @OnlyActive = 1
	BEGIN
		SET @sql = @sql + ' WHERE [IsActive] = 1'
	END
	
	EXEC sp_executesql @sql

	DECLARE b2baccount_cursor CURSOR FAST_FORWARD FOR  
	SELECT [AccountId], [AccountName] FROM #ActiveB2BAccount;

	OPEN b2baccount_cursor;

	FETCH NEXT FROM b2baccount_cursor INTO @AccountId, @AccountName;
	WHILE @@FETCH_STATUS = 0
	BEGIN
		DECLARE @sql1 nvarchar(max)
		SET @sql1 = '
			INSERT INTO #B2BUserByAccount ([NopCustomer], [AccountId])
			SELECT b2buser.[NopCustomerId], b2buser.[ErpAccountId]
			FROM [dbo].[Erp_Nop_User] AS b2buser
			WHERE b2buser.ErpUserTypeId = 5 AND b2buser.[ErpAccountId] = ' + CAST(@AccountId AS NVARCHAR(MAX));
		
		EXEC sp_executesql @sql1
		
		DECLARE b2buser_cursor CURSOR FAST_FORWARD FOR  
		SELECT [NopCustomer] FROM #B2BUserByAccount WHERE [AccountId] = @AccountId;

		OPEN b2buser_cursor;

		FETCH NEXT FROM b2buser_cursor INTO @NopCustomer;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- Update Company in Customer table directly
			IF EXISTS (SELECT 1 FROM [dbo].[Customer] WHERE Id = @NopCustomer)
			BEGIN
				UPDATE [dbo].[Customer]
				SET [Company] = @AccountName
				WHERE [Id] = @NopCustomer
			END

			FETCH NEXT FROM b2buser_cursor INTO @NopCustomer;
		END

		CLOSE b2buser_cursor;
		DEALLOCATE b2buser_cursor;

		FETCH NEXT FROM b2baccount_cursor INTO @AccountId, @AccountName;
	END

	CLOSE b2baccount_cursor;
	DEALLOCATE b2baccount_cursor;

	DROP TABLE #B2BUserByAccount;
	DROP TABLE #ActiveB2BAccount;
END