
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[UpdateB2BAccountFromParallelTableErpB2BAccount]
AS
BEGIN
    DECLARE @Id int,
			@IsActive bit,
            @CreatedOnUtc datetime2,
            @CreatedById int,
            @UpdatedOnUtc datetime2,
            @UpdatedById int,
            @IsDeleted bit,
            @AccountNumber varchar(50),
            @AccountName varchar(255),
			@B2BSalesOrganisationId int,
            @BillingAddressId int,
            @BillingSuburb varchar(100),
            @VatNumber varchar(50),
            @CreditLimit decimal(18, 2),
            @CreditLimitAvailable decimal(18, 2),
            @CurrentBalance decimal(18, 2),
            @LastPaymentAmount decimal(18, 2),
            @LastPaymentDate datetime2,
            @AllowOverspend bit,
            @PreFilterFacets varchar(max),
            @PaymentTypeCode varchar(50),
            @AllowSwitchSalesOrg bit,
            @OverrideBackOrderingConfigSetting bit,
            @AllowAccountsBackOrdering bit,
            @OverrideAddressEditOnCheckoutConfigSetting bit,
            @AllowAccountsAddressEditOnCheckout bit,
            @OverrideStockDisplayConfig  bit,
            @PercentageOfStockAllowed decimal(18, 2),
            @StockDisplayFormatTypeId int,
            @B2BAccountStatusTypeId int,
            @LastAccountRefresh datetime2,
            @LastPriceRefresh datetime2,
            @B2BPriceGroupCodeId int,
            @TotalSavingsForthisYear decimal(18, 2),
            @TotalSavingsForAllTime decimal(18, 2),
            @TotalSavingsForthisYearUpdatedOnUtc datetime2,
            @TotalSavingsForAllTimeUpdatedOnUtc datetime2,
            @LastTimeOrderSyncOnUtc datetime2,
            @PaymentTermsCode varchar(50),
            @PaymentTermsDescription varchar(255),
            @Comment varchar(255);

    DECLARE cursor_UpdateB2BAccount CURSOR FOR
    SELECT 
		e.[Id],
        e.[IsActive],
        e.[CreatedOnUtc],
        e.[CreatedById],
        e.[UpdatedOnUtc],
        e.[UpdatedById],
        e.[IsDeleted],
        e.[AccountNumber],
        e.[AccountName],
		e.[B2BSalesOrganisationId],
        e.[BillingAddressId],
        e.[BillingSuburb],
        e.[VatNumber],
        e.[CreditLimit],
        e.[CreditLimitAvailable],
        e.[CurrentBalance],
        e.[LastPaymentAmount],
        e.[LastPaymentDate],
        e.[AllowOverspend],
        e.[PreFilterFacets],
        e.[PaymentTypeCode],
        e.[AllowSwitchSalesOrg],
        e.[OverrideBackOrderingConfigSetting],
        e.[AllowAccountsBackOrdering],
        e.[OverrideAddressEditOnCheckoutConfigSetting],
        e.[AllowAccountsAddressEditOnCheckout],
        e.[OverrideStockDisplayConfig],
        e.[PercentageOfStockAllowed],
        e.[StockDisplayFormatTypeId],
        e.[B2BAccountStatusTypeId],
        e.[LastAccountRefresh],
        e.[LastPriceRefresh],
        e.[B2BPriceGroupCodeId],
        e.[TotalSavingsForthisYear],
        e.[TotalSavingsForAllTime],
        e.[TotalSavingsForthisYearUpdatedOnUtc],
        e.[TotalSavingsForAllTimeUpdatedOnUtc],
        e.[LastTimeOrderSyncOnUtc],
        e.[PaymentTermsCode],
        e.[PaymentTermsDescription]
    FROM [dbo].[Parallel_ErpAccount] e WITH (NOLOCK)
    WHERE e.[IsUpdated] = 0;

    OPEN cursor_UpdateB2BAccount;
    FETCH NEXT FROM cursor_UpdateB2BAccount INTO 
        @Id, @IsActive, @CreatedOnUtc, @CreatedById, @UpdatedOnUtc, @UpdatedById, @IsDeleted,
        @AccountNumber, @AccountName,@B2BSalesOrganisationId, @BillingAddressId, @BillingSuburb, @VatNumber,
        @CreditLimit, @CreditLimitAvailable, @CurrentBalance, @LastPaymentAmount,
        @LastPaymentDate, @AllowOverspend, @PreFilterFacets, @PaymentTypeCode,
        @AllowSwitchSalesOrg, @OverrideBackOrderingConfigSetting, @AllowAccountsBackOrdering,
        @OverrideAddressEditOnCheckoutConfigSetting, @AllowAccountsAddressEditOnCheckout,
        @OverrideStockDisplayConfig , @PercentageOfStockAllowed,
        @StockDisplayFormatTypeId, @B2BAccountStatusTypeId, @LastAccountRefresh,
        @LastPriceRefresh, @B2BPriceGroupCodeId, @TotalSavingsForthisYear,
        @TotalSavingsForAllTime, @TotalSavingsForthisYearUpdatedOnUtc,
        @TotalSavingsForAllTimeUpdatedOnUtc, @LastTimeOrderSyncOnUtc, @PaymentTermsCode,
        @PaymentTermsDescription;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF EXISTS (
            SELECT 1 
            FROM [Erp_Account] 
            WHERE [AccountNumber] = @AccountNumber
                AND [ErpSalesOrgId] = @B2BSalesOrganisationId
        )
        BEGIN
            -- Update existing record
            UPDATE [Erp_Account]
            SET [IsActive] = @IsActive,
                [CreatedOnUtc] = @CreatedOnUtc,
                [CreatedById] = @CreatedById,
                [UpdatedOnUtc] = @UpdatedOnUtc,
                [UpdatedById] = @UpdatedById,
                [IsDeleted] = @IsDeleted,
                [AccountName] = @AccountName,
                [BillingAddressId] = @BillingAddressId,
                [BillingSuburb] = @BillingSuburb,
                [VatNumber] = @VatNumber,
                [CreditLimit] = @CreditLimit,
                [CreditLimitAvailable] = @CreditLimitAvailable,
                [CurrentBalance] = @CurrentBalance,
                [LastPaymentAmount] = @LastPaymentAmount,
                [LastPaymentDate] = @LastPaymentDate,
                [AllowOverspend] = @AllowOverspend,
                [PreFilterFacets] = @PreFilterFacets,
                [PaymentTypeCode] = @PaymentTypeCode,
                [AllowSwitchSalesOrg] = @AllowSwitchSalesOrg,
                [OverrideBackOrderingConfigSetting] = @OverrideBackOrderingConfigSetting,
                [AllowAccountsBackOrdering] = @AllowAccountsBackOrdering,
                [OverrideAddressEditOnCheckoutConfigSetting] = @OverrideAddressEditOnCheckoutConfigSetting,
                [AllowAccountsAddressEditOnCheckout] = @AllowAccountsAddressEditOnCheckout,
                [OverrideStockDisplayFormatConfigSetting] = @OverrideStockDisplayConfig ,
                [PercentageOfStockAllowed] = @PercentageOfStockAllowed,
                [StockDisplayFormatTypeId] = @StockDisplayFormatTypeId,
                [ErpAccountStatusTypeId] = @B2BAccountStatusTypeId,
                [LastErpAccountSyncDate] = @LastAccountRefresh,
                [LastPriceRefresh] = @LastPriceRefresh,
                [B2BPriceGroupCodeId] = @B2BPriceGroupCodeId,
                [TotalSavingsForthisYear] = @TotalSavingsForthisYear,
                [TotalSavingsForAllTime] = @TotalSavingsForAllTime,
                [TotalSavingsForthisYearUpdatedOnUtc] = @TotalSavingsForthisYearUpdatedOnUtc,
                [TotalSavingsForAllTimeUpdatedOnUtc] = @TotalSavingsForAllTimeUpdatedOnUtc,
                [LastTimeOrderSyncOnUtc] = @LastTimeOrderSyncOnUtc,
                [PaymentTermsCode] = @PaymentTermsCode,
                [PaymentTermsDescription] = @PaymentTermsDescription,
                [Comment] = CONCAT('Updated from Webhook - ', GETUTCDATE())
            WHERE [AccountNumber] = @AccountNumber
                AND [ErpSalesOrgId] = @B2BSalesOrganisationId;

		Update [dbo].[Parallel_ErpAccount] set IsUpdated = 1 Where Id = @Id
        END
        ELSE
        BEGIN
            -- Insert new record
            INSERT INTO [Erp_Account] (
                [IsActive],
                [CreatedOnUtc],
                [CreatedById],
                [UpdatedOnUtc],
                [UpdatedById],
                [IsDeleted],
                [AccountNumber],
                [AccountName],
                [ErpSalesOrgId],
                [BillingAddressId],
                [BillingSuburb],
                [VatNumber],
                [CreditLimit],
                [CreditLimitAvailable],
                [CurrentBalance],
                [LastPaymentAmount],
                [LastPaymentDate],
                [AllowOverspend],
                [PreFilterFacets],
                [PaymentTypeCode],
                [AllowSwitchSalesOrg],
                [OverrideBackOrderingConfigSetting],
                [AllowAccountsBackOrdering],
                [OverrideAddressEditOnCheckoutConfigSetting],
                [AllowAccountsAddressEditOnCheckout],
                [OverrideStockDisplayFormatConfigSetting],
                [PercentageOfStockAllowed],
                [StockDisplayFormatTypeId],
                [ErpAccountStatusTypeId],
                [LastErpAccountSyncDate],
                [LastPriceRefresh],
                [B2BPriceGroupCodeId],
                [TotalSavingsForthisYear],
                [TotalSavingsForAllTime],
                [TotalSavingsForthisYearUpdatedOnUtc],
                [TotalSavingsForAllTimeUpdatedOnUtc],
                [LastTimeOrderSyncOnUtc],
                [PaymentTermsCode],
                [PaymentTermsDescription],
                [Comment]
            )
            VALUES (
                @IsActive,
                @CreatedOnUtc,
                @CreatedById,
                @UpdatedOnUtc,
                @UpdatedById,
                @IsDeleted,
                @AccountNumber,
                @AccountName,
                @B2BSalesOrganisationId,
                @BillingAddressId,
                @BillingSuburb,
                @VatNumber,
                @CreditLimit,
                @CreditLimitAvailable,
                @CurrentBalance,
                @LastPaymentAmount,
                @LastPaymentDate,
                @AllowOverspend,
                @PreFilterFacets,
                @PaymentTypeCode,
                @AllowSwitchSalesOrg,
                @OverrideBackOrderingConfigSetting,
                @AllowAccountsBackOrdering,
                @OverrideAddressEditOnCheckoutConfigSetting,
                @AllowAccountsAddressEditOnCheckout,
                @OverrideStockDisplayConfig ,
                @PercentageOfStockAllowed,
                @StockDisplayFormatTypeId,
                @B2BAccountStatusTypeId,
                @LastAccountRefresh,
                @LastPriceRefresh,
                @B2BPriceGroupCodeId,
                @TotalSavingsForthisYear,
                @TotalSavingsForAllTime,
                @TotalSavingsForthisYearUpdatedOnUtc,
                @TotalSavingsForAllTimeUpdatedOnUtc,
                @LastTimeOrderSyncOnUtc,
                @PaymentTermsCode,
                @PaymentTermsDescription,
                CONCAT('Inserted from Webhook - ', GETUTCDATE())
            );
			Update [dbo].[Parallel_ErpAccount] set IsUpdated = 1 Where Id = @Id
        END

        FETCH NEXT FROM cursor_UpdateB2BAccount INTO 
            @Id, @IsActive, @CreatedOnUtc, @CreatedById, @UpdatedOnUtc, @UpdatedById, @IsDeleted,
            @AccountNumber, @AccountName, @B2BSalesOrganisationId, @BillingAddressId, @BillingSuburb, @VatNumber,
            @CreditLimit, @CreditLimitAvailable, @CurrentBalance, @LastPaymentAmount,
            @LastPaymentDate, @AllowOverspend, @PreFilterFacets, @PaymentTypeCode,
            @AllowSwitchSalesOrg, @OverrideBackOrderingConfigSetting, @AllowAccountsBackOrdering,
            @OverrideAddressEditOnCheckoutConfigSetting, @AllowAccountsAddressEditOnCheckout,
            @OverrideStockDisplayConfig , @PercentageOfStockAllowed,
            @StockDisplayFormatTypeId, @B2BAccountStatusTypeId, @LastAccountRefresh,
            @LastPriceRefresh, @B2BPriceGroupCodeId, @TotalSavingsForthisYear,
            @TotalSavingsForAllTime, @TotalSavingsForthisYearUpdatedOnUtc,
            @TotalSavingsForAllTimeUpdatedOnUtc, @LastTimeOrderSyncOnUtc, @PaymentTermsCode,
            @PaymentTermsDescription;
    END;

    CLOSE cursor_UpdateB2BAccount;
    DEALLOCATE cursor_UpdateB2BAccount;
END;