@model DomainModel

@{
    //page title
    ViewBag.Title = T("Plugins.Comalytics.DomainFilter.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Domain List");
}

<form asp-controller="DomainFilter" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Comalytics.DomainFilter.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugins.Comalytics.DomainFilter.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate.cshtml", Model)
</form>