@model ConfigurationModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="UseERPIntegration" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="UseERPIntegration" />
            <span asp-validation-for="UseERPIntegration"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="MaxErpIntegrationOrderPlaceRetries" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="MaxErpIntegrationOrderPlaceRetries" />
            <span asp-validation-for="MaxErpIntegrationOrderPlaceRetries"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EnableLogOnErpCall" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableLogOnErpCall" />
            <span asp-validation-for="EnableLogOnErpCall"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="DisableLiveStockCheckProductGreaterThanAmount" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisableLiveStockCheckProductGreaterThanAmount" />
            <span asp-validation-for="DisableLiveStockCheckProductGreaterThanAmount"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="ERPToDetermineDate" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ERPToDetermineDate" />
            <span asp-validation-for="ERPToDetermineDate"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="DisplayErpRepDetailsToCustomer" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayErpRepDetailsToCustomer" />
            <span asp-validation-for="DisplayErpRepDetailsToCustomer"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EnableUpdatingSkippedProductsPriceStockDuringProductSync" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableUpdatingSkippedProductsPriceStockDuringProductSync" />
            <span asp-validation-for="EnableUpdatingSkippedProductsPriceStockDuringProductSync"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="UseManufacturerPartNumberAsItemNo" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="UseManufacturerPartNumberAsItemNo" />
            <span asp-validation-for="UseManufacturerPartNumberAsItemNo"></span>
        </div>
    </div>
</div>