@model ConfigurationModel
@using Nop.Services;
@using Nop.Core.Domain.Catalog;


<script>

    $(document).ready(function () {
        $("#@Html.IdFor(model => model.UsePercentageOfAllocatedStock)").click(toggleUsePercentageOfAllocatedStock);

        toggleUsePercentageOfAllocatedStock();
    });

</script>


<div class="card-body"> 
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EnableLiveStockChecks" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableLiveStockChecks" />
            <span asp-validation-for="EnableLiveStockChecks"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="StockDisplayFormatId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="StockDisplayFormatId" asp-items="Model.AvailableStockDisplayFormats" />
            <span asp-validation-for="StockDisplayFormatId"></span>
        </div>
    </div>    
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="TrackInventoryMethodId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="TrackInventoryMethodId" asp-items="@await (((ManageInventoryMethod)Model.TrackInventoryMethodId).ToSelectListAsync())" />
            <span asp-validation-for="TrackInventoryMethodId"></span>
        </div>
    </div>        
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="ProductAvailabilityRangeId_DefaultValue" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="ProductAvailabilityRangeId_DefaultValue" asp-items="Model.AvailableProductAvailabilityRanges_DefaultValue" />
            <span asp-validation-for="ProductAvailabilityRangeId_DefaultValue"></span>
        </div>
    </div>    
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="LowStockActivityId_DefaultValue" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="LowStockActivityId_DefaultValue" asp-items="@await (((LowStockActivity)Model.LowStockActivityId_DefaultValue).ToSelectListAsync())" />
            <span asp-validation-for="LowStockActivityId_DefaultValue"></span>
        </div>
    </div>    
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="DisplayStockAvailability_DefaultValue" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayStockAvailability_DefaultValue" />
            <span asp-validation-for="DisplayStockAvailability_DefaultValue"></span>
        </div>
    </div>    
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="DisplayStockQuantity_DefaultValue" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayStockQuantity_DefaultValue" />
            <span asp-validation-for="DisplayStockQuantity_DefaultValue"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="UsePercentageOfAllocatedStock" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="UsePercentageOfAllocatedStock" />
            <span asp-validation-for="UsePercentageOfAllocatedStock"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="PercentageOfAllocatedStockResetTimeUtc" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PercentageOfAllocatedStockResetTimeUtc" />
            <span asp-validation-for="PercentageOfAllocatedStockResetTimeUtc"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="SkipLivePriceCheckCategoryIds_OverrideForStore" asp-input="SkipLivePriceCheckCategoryIds" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SkipLivePriceCheckCategoryIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="SkipLivePriceCheckCategoryIds" asp-items="@Model.AvailableCategories" asp-multiple="true" />
            <span asp-validation-for="SkipLivePriceCheckCategoryIds"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="SkipLiveStockCheckCategoryIds_OverrideForStore" asp-input="SkipLiveStockCheckCategoryIds" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SkipLiveStockCheckCategoryIds" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="SkipLiveStockCheckCategoryIds" asp-items="@Model.AvailableCategoriesForStock" asp-multiple="true" />
            <span asp-validation-for="SkipLiveStockCheckCategoryIds"></span>
        </div>
    </div>
    

</div>
 