@model ErpSalesOrgModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpSalesOrg.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(B2BB2CFeaturesDefaults.ErpSalesOrgs_SiteMapNode_SystemName);
}

<form asp-area="Admin" asp-controller="ErpSalesOrg" asp-action="CreateErpSalesOrg" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpSalesOrg.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpSalesOrg.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateErpSalesOrg", Model)
</form>