@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-change-password-page");
    var returnUrl = Context.Request.Query["returnUrl"];
}
@section left
{
    @await Component.InvokeAsync(typeof(CustomerNavigationViewComponent), new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<style>
    .change-password-page .message-error {
        text-align: left !important;
    }
</style>

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.CustomerChangePasswordTop, additionalData = Model })

        <form asp-route="CustomerChangePassword" method="post" autocomplete="off" asp-route-returnurl="@returnUrl">
            <div class="result password-rules"></div>

            <script asp-location="Footer">
                $(document).ready(function () {
                    ErpAccountCommon.loadPasswordRequirmentsAjaxLoad();
                });
            </script>

            <div asp-validation-summary="ModelOnly" class="message-error"></div>

            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="OldPassword" asp-postfix=":"></label>
                        <input asp-for="OldPassword" />
                        <span id="toggle-new-password"></span>
                        <nop-required />
                        <span asp-validation-for="OldPassword"></span>
                        <script>
                            document.getElementById("toggle-new-password").addEventListener("click", function (event) {
                                event.target.classList.toggle("active");
                                const passwordInput = document.getElementById("OldPassword");
                                // Toggle the type attribute
                                if (passwordInput.type === "password") {
                                    passwordInput.type = "text";  // Change to text to show the password
                                } else {
                                    passwordInput.type = "password";  // Change back to password to hide it
                                }
                            });
                        </script>
                    </div>
                    <div class="inputs">
                        <label asp-for="NewPassword" asp-postfix=":"></label>
                        <input asp-for="NewPassword" />
                        <span id="toggle-password"></span>
                        <nop-required />
                        @{
                            var hasPasswordError = ViewData.ModelState.TryGetValue("NewPassword", out var passwordSte)
                            && passwordSte.Errors.Count > 0;
                        }
                        @if (hasPasswordError)
                        {
                            <!-- Custom HTML-rendered error for Password -->
                            <div class="field-validation-error">
                                @foreach (var error in passwordSte.Errors)
                                {
                                    @Html.Raw(error.ErrorMessage)
                                }
                            </div>
                        }
                        else
                        {
                            <span asp-validation-for="NewPassword"></span>
                        }
                        <script>
                            document.getElementById("toggle-password").addEventListener("click", function (event) {
                                event.target.classList.toggle("active");
                                const passwordInput = document.getElementById("Password");
                                // Toggle the type attribute
                                if (passwordInput.type === "password") {
                                    passwordInput.type = "text";  // Change to text to show the password
                                } else {
                                    passwordInput.type = "password";  // Change back to password to hide it
                                }
                            });
                        </script>
                    </div>
                    <div class="inputs">
                        <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        <input asp-for="ConfirmNewPassword" />
                        <span id="toggle-confirm-password"></span>
                        <nop-required />
                        <span asp-validation-for="ConfirmNewPassword"></span>
                        <script>
                            document.getElementById("toggle-confirm-password").addEventListener("click", function (event) {
                                event.target.classList.toggle("active");
                                const passwordInput = document.getElementById("ConfirmPassword");
                                // Toggle the type attribute
                                if (passwordInput.type === "password") {
                                    passwordInput.type = "text";  // Change to text to show the password
                                } else {
                                    passwordInput.type = "password";  // Change back to password to hide it
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button type="submit" class="button-1 change-password-button">
                    @T("Account.ChangePassword.Button")
                </button>
            </div>
        </form>

        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.CustomerChangePasswordBottom, additionalData = Model })
    </div>
</div>
