@model CurrencySelectorModel

@inject Nop.Core.IWebHelper webHelper

@if (Model.AvailableCurrencies.Count > 1)
{
    <script src="~/Plugins/SevenSpikes.Core/Scripts/jquery.styleSelect.min.js" asp-location="Footer"></script>
    <script src="~/Plugins/SevenSpikes.Core/Scripts/jquery.jscrollpane.min.js" asp-location="Footer"></script>

    var returnUrl = webHelper.GetRawUrl(Context.Request);
    var currencies = await Model.AvailableCurrencies.SelectAwait(async x => new SelectListItem
    {
        Text = x.Name,
        Value = Url.RouteUrl("ChangeCurrency", new { customercurrency = x.Id, returnUrl }, webHelper.GetCurrentRequestProtocol()),
        Selected = x.Id.Equals(Model.CurrentCurrencyId)
    }).ToListAsync();

    <div class="currency-selector">
        <div class="header-currencyselector">

            <select id="customerCurrency" name="customerCurrency" asp-items="@currencies" onchange="setLocation(this.value);" aria-label="@T("Currency.Selector.Label")"></select>

            <script type="text/javascript" asp-location="Footer">
                $(function() {
                    var options = {
                        styleClass: "new_select",
                        jScrollPane: 1
                    }
                    $("#customerCurrency").styleSelect(options);
                });
            </script>

        </div>
    </div>
}