@using NopStation.Plugin.B2B.B2BB2CFeatures.Contexts
@using NopStation.Plugin.B2B.B2BB2CFeatures.Infrastructure
@using NopStation.Plugin.B2B.B2BB2CFeatures.Model.ErpAccountPublic
@using NopStation.Plugin.B2B.B2BB2CFeatures.Services.ErpCustomerFunctionality
@using NopStation.Plugin.B2B.ERPIntegrationCore.Enums
@using NopStation.Plugin.B2B.ERPIntegrationCore.Services

@model ErpAccountOrderSearchModel
@inject IErpCustomerFunctionalityService erpCustomerFunctionality
@inject IWorkContext _workContext
@inject IErpAccountService erpAccountService

@{
	Layout = "_ColumnsTwo";

	//title
	NopHtml.AddTitleParts(T("PageTitle.Account").Text);
	//page class
	NopHtml.AppendPageCssClassParts("html-account-page");
	NopHtml.AppendPageCssClassParts("html-custom-account");
	NopHtml.AppendPageCssClassParts("html-order-list-page");

	await Html.PartialAsync("~/Plugins/NopStation.Plugin.B2B.B2BB2CFeatures/Views/Shared/_DatatableScripts.cshtml");
}

@section left
{
	@await Component.InvokeAsync(typeof(CustomerNavigationViewComponent),
			new { selectedTabId = CustomerNavigationEnum.Orders })
}

@{
	var currentCustomer = await _workContext.GetCurrentCustomerAsync();
	var nopUser = await erpCustomerFunctionality.GetActiveErpNopUserByCustomerAsync(currentCustomer);
	var isB2BUser = nopUser != null && nopUser.ErpUserType == ErpUserType.B2BUser;
	var isB2CUser = nopUser != null && nopUser.ErpUserType == ErpUserType.B2CUser;
}

<style>
	.account-page.order-list-page .dataTables_wrapper .dataTable thead tr th:last-child {
		text-align: center !important;
	}

	.my-inputs {
		padding: 5px;
	}

	#ui-datepicker-div {
		z-index: 50 !important;
	}

	a {
		color: inherit;
	}
</style>

<div class="page account-page order-list-page">
	<div class="page-title">
		<h1>@T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpOrderList.PublicView.Title")</h1>
	</div>
	<div class="page-body">
		<div class="fieldset">
			<div class="row account-input-section">
				<div class="my-inputs">
					<label asp-for="SearchOrderNumberOrName" asp-postfix=":"></label>
					<input asp-for="SearchOrderNumberOrName" />
				</div>
				<div class="my-inputs">
					<label asp-for="SearchOrderDateFrom" asp-postfix=":"></label>
					<input type="Date" asp-for="SearchOrderDateFrom" />
				</div>
				<div class="my-inputs">
					<label asp-for="SearchOrderDateTo" asp-postfix=":"></label>
					<input type="Date" asp-for="SearchOrderDateTo" />
				</div>
				<button type="button" id="search-erpaccount-orders" class="btn btn-primary btn-search btn-b2b-search">
					<i class="fa fa-search"></i>
					@T("Admin.Common.Search")
				</button>

			</div>
		</div>


        <div class="panel panel-default">
			<div class="panel-body">
				@{
					var url = new DataUrl("LoadB2BAccountOrderList", "ErpAccountPublic", new RouteValueDictionary { [nameof(Model.ErpAccountId)] = Model.ErpAccountId });
					if (isB2CUser)
					{
						url = new DataUrl("LoadB2BAccountOrderList", "ErpAccountPublic", new RouteValueDictionary { [nameof(Model.ErpNopUserId)] = Model.ErpNopUserId });
					}
					var gridModel = new DataTablesModel
					{
						Name = "qoute-order-list-grid",
						UrlRead = url,
						Length = Model.PageSize,
						LengthMenu = Model.AvailablePageSizes,
						SearchButtonId = "search-erpaccount-orders",
						Filters = new List<FilterParameter>
						{
							new FilterParameter(nameof(Model.SearchOrderNumberOrName), typeof(DateTime?)),
							new FilterParameter(nameof(Model.SearchOrderDateFrom), typeof(DateTime?)),
							new FilterParameter(nameof(Model.SearchOrderDateTo))
						}
					};

					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.NopOrderId))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.ErpOrderNumber").Text,
						Width = "200",
						Render = new RenderCustom("renderColumnViewOrder"),
						ClassName = NopColumnClassDefaults.Button + " NopOrderId"
					});
					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.CustomerOrder))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.CustomerOrder").Text,
						Width = "200",
						ClassName = "CustomerOrder"
					});

					if (isB2BUser)
					{
						gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.PlacedByCustomer))
						{
							Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.PlacedByCustomer").Text,
							Width = "200",
							ClassName = "PlacedByCustomer"
						});
						gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.ErpOrderOriginType))
						{
							Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.B2BOrderOriginType").Text,
							Width = "200",
							ClassName = "ErpOrderOriginType"
						});
					}

					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.ERPOrderStatus))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.ERPOrderStatus").Text,
						Width = "200",
						ClassName = "ERPOrderStatus"
					});

					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.Invoices))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.Invoices").Text,
						Width = "200",
						ClassName = NopColumnClassDefaults.CenterAll + " Invoices"
					});

					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.TotalOrderItems))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.TotalOrderItems").Text,
						Width = "200",
						ClassName = NopColumnClassDefaults.CenterAll + " TotalOrderItems"
					});

					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.Unshipped))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.Unshipped").Text,
						Width = "200",
						ClassName = NopColumnClassDefaults.CenterAll + " Unshipped"
					});

					var orderPlacedOnRender = new RenderDate();
					orderPlacedOnRender.Format = B2BB2CFeaturesDefaults.ErpDateFormatForDataTable;

					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.OrderPlacedOn))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.OrderPlacedOn").Text,
						Width = "200",
						Render = orderPlacedOnRender,
						ClassName = "OrderPlacedOn"
					});

					if (isB2CUser)
					{
						gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.PaygateReferenceNumber))
						{
							Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.PaygateReferenceNumber").Text,
							Width = "200",
							ClassName = "PaygateReferenceNumber"
						});

						gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.WarehouseName))
						{
							Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.Warehouse").Text,
							Width = "200",
							ClassName = "WarehouseName"
						});
					}

					var expectedDeliveryRender = new RenderDate();
					expectedDeliveryRender.Format = B2BB2CFeaturesDefaults.ErpDateFormatForDataTable;

					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.ExpectedDelivery))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.ExpectedDelivery").Text,
						Width = "200",
						Render = expectedDeliveryRender,
						ClassName = "ExpectedDelivery"
					});

					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.OrderTotalAmount))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.OrderTotalAmount").Text,
						Width = "200",
						ClassName = NopColumnClassDefaults.CenterAll + " OrderTotalAmount"
					});

					gridModel.ColumnCollection.Add(new ColumnProperty(nameof(ErpAccountOrderDetailsModel.NopOrderId))
					{
						Title = T("Plugin.Misc.NopStation.B2BB2CFeatures.ErpAccountOrderDetails.Fields.DownloadInvoicePOD").Text,
						Width = "200",
						Render = new RenderCustom("renderColumnDownloadInvoicePOd"),
						ClassName = NopColumnClassDefaults.Button
					});
				}
				@await Html.PartialAsync("Table", gridModel)
			</div>
		</div>
	</div>
	<script>
		function renderColumnDownloadInvoicePOd(data, type, row, meta) {
			return row.IsInvoiceOrPodAvailable > 0 ?
			'<button type="button" style="background: #0270d3 !important;" onclick="downloadInvoicePOd(' + data + ' )" class="btn btn-primary btn-invoicepod-download">@T("NopStation.Plugin.B2B.B2BB2CFeatures.B2BAccount.FinancialTransaction.Fields.DownloadInvoiceOrPod")</button>'
			: '<button type="button" class="btn btn-default btn-invoice-download-disabled" disabled>@T("NopStation.Plugin.B2B.B2BB2CFeatures.B2BAccount.FinancialTransaction.Fields.DownloadInvoiceOrPod")</button>';
		}

		function renderColumnViewOrder(data, type, row, meta) {
			return '<button type="button" onclick="viewOrder(' + data + ')" class="btn btn-default"><i class="fa fa-eye"></i> ' + row.ErpOrderNumber + '</button>';
		}
		function viewOrder(orderId) {
			var orderDetailsActionUrl = "/orderdetails/" + orderId;
			setLocation(orderDetailsActionUrl);
		}
		function downloadInvoicePOd(orderId) {
			var invoicePodListUrl = "/erporderinvoicelist?orderId=" + orderId;
			setLocation(invoicePodListUrl);
		}
	</script>
	<script asp-location="Footer">
		$(document).ready(function () {
			$('.block-account-navigation .listbox .list>li>a').each(function () {
				$(this).removeClass("active").addClass("inactive");
			});

			$('.b2baccount-orders a').removeClass("inactive").addClass("active");

			$("#search-erpaccount-orders").on("click", function (event) {
				var fromDate = new Date($("#SearchOrderDateFrom").val());
				var toDate = new Date($("#SearchOrderDateTo").val());

				if (fromDate && toDate && fromDate > toDate) {
					alert("Invalid search input. Start date cannot be greater than end date");
					event.preventDefault();
				}
			});
		});
	</script>
</div>