@using NopStation.Plugin.B2B.ERPIntegrationCore.Enums;
@model ErpSalesRepModel


<div class="card-body">
    <div class="card card-default">
        <div class="card-body">
            @await Html.PartialAsync("Table", new DataTablesModel
            {
                Name = "ErpAccounts-grid",
                UrlRead = new DataUrl("MultiBuyerList", "SalesRepUsers", new RouteValueDictionary { 
                    [nameof(Model.ErpAccountSearchModel.ErpAccountId)] = Model.Id }),
                UrlDelete = new DataUrl("ErpSalesRepErpAccountDelete", "SalesRepUsers", new RouteValueDictionary { 
                    [nameof(Model.SalesRepId)] = Model.Id
                }),
                BindColumnNameActionDelete = nameof(ErpAccountModel.Id),
                SearchButtonId = "search-erpAccounts",
                Length = Model.ErpAccountSearchModel.PageSize,
                LengthMenu = Model.ErpAccountSearchModel.AvailablePageSizes,
                ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(ErpAccountModel.ErpSalesOrgName))
                    {
                        Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.ErpSalesOrgName").Text,
                        Width = "100",
                        Render = new RenderLink(new DataUrl("~/Admin/ErpSalesOrg/ErpSalesOrgEdit/", nameof(ErpAccountModel.ErpSalesOrgId))),
                    },
                    new ColumnProperty(nameof(ErpAccountModel.AccountNumber))
                    {
                        Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.AccountNumber").Text,
                        Width = "150",
                        Render = new RenderLink(new DataUrl("~/Admin/ErpAccount/ErpAccountEdit/", nameof(ErpAccountModel.Id))),
                    },
                    new ColumnProperty(nameof(ErpAccountModel.AccountName))
                    {
                        Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.AccountName").Text,
                        Width = "150",
                    },
                    new ColumnProperty(nameof(AddressModel.Email))
                    {
                        Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.Email").Text,
                        Width = "150",
                        Render = new RenderCustom("ShowEmail"),
                    },
                    new ColumnProperty(nameof(ErpAccountModel.IsActive))
                    {
                        Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.IsActive").Text,
                        Width = "60",
                        ClassName = NopColumnClassDefaults.CenterAll,
                        Render = new RenderBoolean(),
                    },
                    new ColumnProperty(nameof(ErpAccountModel.CreatedOn))
                    {
                        Title = T("Plugin.Misc.NopStation.ERPIntegrationCore.ErpAccount.Field.CreatedOnUtc").Text,
                        Width = "150",
                        Render = new RenderDate()
                    },
                    new ColumnProperty(nameof(ErpAccountModel.Id))
                    {
                        Title = T("Admin.Common.Delete").Text,
                        Width = "80",
                        ClassName =  NopColumnClassDefaults.Button,
                        Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                    }
                }
               })
        </div>

        <div class="card-footer">
            <button type="submit" id="btnAddNewErpCustomer" class="btn btn-primary" onclick="javascript:OpenWindow('@(Url.Action("ErpSalesRepErpAccountAddPopup", "SalesRepUsers", new {salesRepId = Model.Id, btnId = "btnRefreshErpAccounts", formId = "account-form"}))', 800, 800, true); return false;">
                @T("Admin.Common.AddNew")
            </button>
            <button type="submit" id="btnRefreshErpAccounts" style="display: none"></button>
            <script>
                $(document).ready(function () {
                    $('#btnRefreshErpAccounts').click(function () {
                        //refresh grid
                        updateTable('#ErpAccounts-grid');

                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>

    </div>
</div>

<script>
    function ShowEmail(data, type, row, meta) {
        return '<span>' + row.BillingAddress.Email + '</span >';
    }
</script>

<style>
    .button-column {
        text-align: center !important;
    }
</style>